venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

alembic/versions/__pycache__/

.git/
.gitignore

docker-compose.yml
Dockerfile

.vscode/
.idea/

.DS_Store
Thumbs.db

**/models/
**/transformers/
**/.cache/

README.md
docs/