# DB
POSTGRES_DB=lost_items_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pwd
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Telegram Bot
BOT_TOKEN=bot_token
ADMIN_IDS=[]

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
SECRET_KEY=secret_key

# PGVector
VECTOR_DIMENSION=384