DEBUG=True

# DB
POSTGRES_DB=lost_items_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pwd
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"

# Telegram Bot
BOT_TOKEN=bot_token
ADMIN_IDS=[]

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
SECRET_KEY=secret_key
API_BASE_URL=http://localhost:8000/api

# PGVector
VECTOR_DIMENSION=384